<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/assets/NaomiGiertych.png" width="210px" height="210px">
                </div>
                <div class="contact">
									5209 SAS Hall<br>
									Department of Statistics<br>
                  North Carolina State University<br>
                  <br>
                  email: <a href="mailto:ngierty@ncsu.edu">ngierty@ncsu.edu</a> <br>
                </div>
              </div>
			  

<b>Brief biography</b> 
<br>
Welcome to my webpage. I am currently pursuing my PhD at North Carolina State University. I am interested in the statistical issues faced by astronomers and environmental scientists. I have experience programming in STATA, R, and Python, and I welcome opportunities to grow as a statistician and problem solver!

<br>
<br>
Link: <a href="assets/NaomiGiertych_Resume2024.pdf"><b>Resume</b></a>
<br>

<b>Current research interests</b>
<ul>
<li> Statistical issues in astronomy </li>
<li> Statistical issues in environmental science </li>
<li> Model/feature selection </li>
<li> Bayesian inference </li>
<li> Multivariate time-series analysis </li>
<li> Spatial analysis </li>
</ul>


				
							</div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>
